<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand"><strong>Java Travel App</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/main_page}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/purchases/purchases}">Kupione wycieczki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-left: 20px; margin-right: 20px;margin-bottom: 20px;margin-top: 20px;">

<h1> FORMULARZ TWORZENIA WYCIECZEK</h1>
    <div style="margin-left: 20px; margin-right: 20px;margin-bottom: 20px;margin-top: 20px;">

    <p th:text="${welcome}"></p>

<form th:action="@{/create_trip}" method="post">

    <label for="startDate">Data rozpoczęcia wycieczki:</label>
    <input type="date" id="startDate" name="startDate"><br>
    <label for="endDate">Data zakończenia wycieczki:</label>
    <input type="date" id="endDate" name="endDate"><br>
    <label for="maxAdultNumber">Wybierz maksymalną liczbę osób dorosłych:</label>
    <input type="number" id="maxAdultNumber" name="maxAdultNumber" min="0" max="200"><br>
    <label for="maxChildNumber">Wybierz maksymalną liczbę dzieci:</label>
    <input type="number" id="maxChildNumber" name="maxChildNumber" min="0" max="100"><br>


    <select name="hotelId">
        <option value="">Wybierz hotel</option>
        <option th:each="h: ${hotels}" th:value="${h.id}" th:text="${h.name + ', ' + h.location.getCountry()+ ', ' + h.location.getCity()}"></option>
    </select><br>
    <select name="airportFromCode">
        <option value="">Wybierz lotnisko odlotu</option>
        <option th:each="a: ${airportsFrom}" th:value="${a.code}" th:text="${a.code+ ', ' + a.getLocation().getCountry() + ', ' + a.getLocation().getCity()}"></option>
    </select><br>
    <select name="airportToCode">
        <option value="">Wybierz lotnisko przylotu</option>
        <option th:each="a: ${airportsTo}" th:value="${a.code}" th:text="${a.code + ', ' + a.getLocation().getCountry()+ ', ' + a.getLocation().getCity()}"></option>
    </select><br>
    <select name="priceId">
        <option value="">Wybierz podstawową cenę za osobę (cena pobytu, cena za lot)</option>
        <option th:each="p: ${prices}" th:value="${p.getId()}" th:text="${p.getPricePerDay()+
        ', '+p.getFlightPrice()}"></option>
    </select><br>
<br>
    <button type="submit">Utwórz wycieczkę</button>


</form>

    </div>
    </div>
</body>
</html>