<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> FORMULARZ TWORZENIA WYCIECZEK</h1>
<p th:text="${welcome}"></p>

    </select>
<form th:action="@{/create_trip}" method="post">
<!--<select th:field="*{hotels}">-->
<select name="selectedHotelId">
    <option value="">Wybierz hotel</option>
    <option th:each="h: ${hotels}" th:value="${h.getId()}" th:text="${h.getName()+
    ', '+h.getDescription()+' '+h.getStars()+h.getLocation()}"></option>
</select>
    <p> </p>
    <select name="airportCode">
        <option value="">Wybierz lotnisko wylotu</option>
        <option th:each="a: ${airportsFrom}" th:value="${a.getCode()}" th:text="${a.getName()+
    ', '+a.getLocation()}"></option>
    </select>
    <select name="airportCode">
        <option value="">Wybierz lotnisko przylotu</option>
        <option th:each="a: ${airportsTo}" th:value="${a.getCode()}" th:text="${a.getName()+
    ', '+a.getLocation()}"></option>
    </select>
    <p> </p>
    <label for="startDate">Data rozpoczęcia wycieczki:</label>
    <input type="date" id="startDate" name="startDate">
    <p> </p>
    <label for="endDate">Data zakończenia wycieczki:</label>
    <input type="date" id="endDate" name="endDate">
    <p> </p>
    <label for="maxAdultNumber">Wybierz liczbę osób dorosłych (od 1 do 20):</label>
    <input type="number" id="maxAdultNumber" name="maxAdultNumber" min="1" max="20">
    <p> </p>
    <label for="maxChildNumber">Wybierz liczbę dzieci (od 0 do 10):</label>
    <input type="number" id="maxChildNumber" name="maxChildNumber" min="0" max="10">
    <p> </p>
    <button type="submit">Utwórz wycieczkę</button>
</form>


<!--<select th:field="*{locations}">-->
<!--    <option value="">Wybierz lokację</option>-->
<!--    <option th:each="l : ${locations}" th:value="${l.getId()}"-->
<!--            th:text="${l.getContinent() +', '+l.getCountry() +', '+-->
<!--            l.getCity()+', '+l.getAddress()}">-->
<!--    </option>-->

<!--<ul>-->
<!--    <select th:field="*{locations}">-->
<!--        <option th:each="location : ${locations}">>-->
<!--            <span th:text="${location.getId()}"></span>-->
<!--            <span th:text="${location.getContinent()}"></span>-->
<!--            <span th:text="${location.getCountry()}"></span>-->
<!--            <span th:text="${location.getCity()}"></span>-->
<!--            <span th:text="${location.getAddress()}"></span>-->
<!--        </option>-->
<!--    </select>-->
<!--</ul>-->

</body>
</html>