<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Szczegóły wycieczki </h1>

<label>Id wycieczki:</label>
<p th:text="${selectedTrip.getId()}"></p>
<label>Nazwa hotelu:</label>
<p th:text="${selectedTrip.getHotel().getName()}"></p>
<label>Lotnisko wylotu:</label>
<p th:text="${selectedTrip.getAirportFrom().getCode()} +' '+${selectedTrip.getAirportFrom().getName()} +' '+${selectedTrip.getAirportFrom().getLocation().getCity()}"></p>
<label>Lotnisko powrotu:</label>
<p th:text="${selectedTrip.getAirportTo().getCode()} +' '+${selectedTrip.getAirportTo().getName()} +' '+${selectedTrip.getAirportTo().getLocation().getCity()}"></p>
<label>Data rozpoczęcia wycieczki:</label>
<p th:text="${selectedTrip.getStartDate()}"></p>
<label>Data zakończenia wycieczki:</label>
<p th:text="${selectedTrip.getEndDate()}"></p>
<label>Liczba osób dorosłych:</label>
<p th:text="${adultNumber}"></p>
<label>Liczba dzieci:</label>
<p th:text="${childNumber}"></p>
<label>Standard:</label>
<p th:text="${standard}"></p>

<label>Podstawowa cena za osobę:</label>

    <p th:text=" ${selectedTrip.getPrice().getPricePerDay()}" ></p>

<label>Cena całkowita:</label>
<p th:text="${finalPrice}"></p>


<form th:action="@{/final_price}" method="post" th:object="${finalPurchase}">

    <input type="hidden" name="tripId" th:value="${selectedTrip.getId()}"/>
    <input type="hidden" name="adultNumber" th:value="${adultNumber}">
    <input type="hidden" name="childNumber" th:value="${childNumber}">
    <input type="hidden" name="finalPrice" th:value="${finalPrice}">

    <button type="submit">Kup wycieczkę</button>

</form>

</body>
</html>