<!DOCTYPE html>

<html  xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> JAVA TRAVEL</h1>

<form th:action="@{/filter_trips}" method="get">

    <h2> Wybierz kierunki podróży</h2>
    <div th:each="l : ${locations}">
        <input type="checkbox" th:id="'location_' + ${l.getId()}" th:name="location" th:value="${l.getId()}"/>
        <label th:for="'location_' + ${l.getId()}" th:text="${l.getCountry()+' '+l.getCity}"></label>
        <br/>
    </div>

    <label for="startDate">Wybierz datę rozpoczęcia wycieczki:</label>
    <input type="date" id="startDate" name="startDate">
    <br/>
    <label for="endDate">Wybierz datę zakończenia wycieczki:</label>
    <input type="date" id="endDate" name="endDate">
    <br/>
    <button type="submit">Filtruj</button>
</form>

<h2> Dostępne wycieczki:</h2>
<ul>

    <li th:each="trip : ${trips}">
        <div>
            <span th:text="${trip.getAirportTo().getLocation().getCountry()+' - '+ trip.getAirportTo().getLocation().getCity()}"></span>
            <a sec:authorize="hasRole('USER')" th:href="@{'/trip_details/' + ${trip.getId()}}">
                <button>Kup</button>
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{'trips/edit_trip/' + ${trip.getId()}}">
                <button>Edytuj</button>
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/trips/delete/' + ${trip.getId()}}">
                <button>Usuń</button>
            </a>
        </div>
        <div>Wylot z: <span th:text="${trip.getAirportFrom().getLocation().getCity()}"></span></div>
        <div>Data rozpoczęcia: <span th:text="${trip.getStartDate()}"></span></div>
        <div>Data zakończenia: <span th:text="${trip.getEndDate()}"></span></div>
        <hr/>
    </li>

</ul>
</body>
</html>


