<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Uzupełnij szczegóły wycieczki</h1>

<p th:text="${selectedTrip}"></p>



<!--</select>-->



<!--<form th:action="@{/purchase}" method="post">-->

<!--&lt;!&ndash;    <input type="number" id="selectedTripId" name="selectedTrip" th:value="${selectedTripId}" >&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="adultNumber">Wybierz liczbę osób dorosłych (od 1 do 20):</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="number" id="adultNumber" name="maxAdultNumber" min="1" max="20">&ndash;&gt;-->
<!--&lt;!&ndash;    <p> </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="childNumber">Wybierz liczbę dzieci (od 0 do 10):</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="number" id="childNumber" name="maxChildNumber" min="0" max="10">&ndash;&gt;-->

<!--</form>-->

</body>
</html>