<!DOCTYPE html>
<html

        xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${filterTrips.size()>0}">
    <h2>Wyniki filtrowania</h2>
    <ul>
        <li th:each="trip : ${filterTrips}">
            <a th:href="@{'/trip_details/'+${trip.getId()}}" th:text="${trip.getId()} + ' - ' + ${trip.getHotel().getName()}"></a>
        </li>
    </ul>

</div>
<div th:if="${filterTrips.size()==0}">
    <h2>Brak wycieczek o podanych kryteriach</h2>
</div>

<a th:href="'javascript:history.go(-1)'" >Powrót</a>
</body>
</html>