<!DOCTYPE html>
<html

        xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand"><strong>Java Travel App</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/main_page}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/purchases/purchases}">Kupione wycieczki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-left: 20px; margin-right: 20px;margin-bottom: 20px;margin-top: 20px;">

<div th:if="${filterTrips.size()>0}">
    <h1>Wyniki filtrowania</h1>
    <ul>
        <li th:each="trip : ${filterTrips}">

<!--            <div><span th:text="${trip.getAirportTo().getLocation().getCountry()+' - '+ trip.getAirportTo().getLocation().getCity()}"></span></div>-->
            <div><a th:href="@{'/trip_details/'+${trip.getId()}}" th:text="${trip.getAirportTo().getLocation().getCountry()+' - '+ trip.getAirportTo().getLocation().getCity()}"></a></div>
            <div>Wylot z: <span th:text="${trip.getAirportFrom().getLocation().getCity()}"></span></div>
            <div>Data rozpoczęcia: <span th:text="${trip.getStartDate()}"></span></div>
            <div>Data zakończenia: <span th:text="${trip.getEndDate()}"></span></div>


<!--            <a th:href="@{'/trip_details/'+${trip.getId()}}" th:text="${trip.getId()} + ' - ' + ${trip.getHotel().getName()}"></a>-->
        </li>
    </ul>

</div>
<div th:if="${filterTrips.size()==0}">
    <h2>Brak wycieczek o podanych kryteriach</h2>
</div>

<!--<a th:href="'javascript:history.go(-1)'" >Powrót</a>-->
</div>
</body>
</html>